header{
    background-color: blueviolet;
    padding: 20px;
}
nav{
    background-color: darksalmon;
    padding: 10px;
    
}
section{
    float: left;
    width: 70%;
    background-color: gray
}
aside{
    float: left;
    width: 30%;
    background-color: cadetblue
}
footer{
    background-color: lightgreen;
    padding:10px ;
}
.contenedor::after{
    content:"";
    display: block;
    clear: both;
}